<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.input.title' | translate }}</h2>
        <p class="mb-4">{{ 'purchase.input.read' | translate }}</p>

        <div class="p-3 bg-white">
            <form [formGroup]="customerContactForm">
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.familyName' | translate }}</p>
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="familyName" id="familyName"
                            placeholder="モーション">
                        <div *ngIf="customerContactForm.controls.familyName.invalid && customerContactForm.controls.familyName.touched"
                            class="mt-2">
                            <p *ngIf="customerContactForm.controls.familyName.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="customerContactForm.controls.familyName.errors.maxlength" class="text-danger">
                                {{ 'form.validation.maxlength' | translate:{ value: customerContactForm.controls.familyName.errors.maxlength.requiredLength } }}
                            </p>
                            <p *ngIf="customerContactForm.controls.familyName.errors.pattern" class="text-danger">
                                {{ 'form.validation.fullKana' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.givenName' | translate }}</p>
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="givenName" id="givenName"
                            placeholder="ピクチャー">
                        <div *ngIf="customerContactForm.controls.givenName.invalid && customerContactForm.controls.givenName.touched"
                            class="mt-2">
                            <p *ngIf="customerContactForm.controls.givenName.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="customerContactForm.controls.givenName.errors.maxlength" class="text-danger">
                                {{ 'form.validation.maxlength' | translate:{ value: customerContactForm.controls.givenName.errors.maxlength.requiredLength } }}
                            </p>
                            <p *ngIf="customerContactForm.controls.givenName.errors.pattern" class="text-danger">
                                {{ 'form.validation.fullKana' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.email' | translate }}</p>
                    <div class="col-md-8">
                        <input type="email" class="form-control" formControlName="email" id="email"
                            placeholder="motionpicture@example.jp">
                        <div *ngIf="customerContactForm.controls.email.invalid && customerContactForm.controls.email.touched"
                            class="mt-2">
                            <p *ngIf="customerContactForm.controls.email.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="customerContactForm.controls.email.errors.maxlength" class="text-danger">
                                {{ 'form.validation.maxlength' | translate:{ value: customerContactForm.controls.email.errors.maxlength.requiredLength } }}
                            </p>
                            <p *ngIf="customerContactForm.controls.email.errors.email" class="text-danger">
                                {{ 'form.validation.email' | translate }}
                            </p>
                        </div>
                        <p class="mt-2 text-small" [innerHTML]="'common.emailDescription' | translate"></p>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.telephone' | translate }}</p>
                    <div class="col-md-8">
                        <input type="tel" class="form-control" formControlName="telephone" id="telephone"
                            placeholder="0362778824">
                        <div *ngIf="customerContactForm.controls.telephone.invalid && customerContactForm.controls.telephone.touched"
                            class="mt-2">
                            <p *ngIf="customerContactForm.controls.telephone.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="customerContactForm.controls.telephone.errors.minlength" class="text-danger">
                                {{ 'form.validation.minlength' | translate:{ value: customerContactForm.controls.telephone.errors.minlength.requiredLength } }}
                            </p>
                            <p *ngIf="customerContactForm.controls.telephone.errors.maxlength" class="text-danger">
                                {{ 'form.validation.maxlength' | translate:{ value: customerContactForm.controls.telephone.errors.maxlength.requiredLength } }}
                            </p>
                            <p *ngIf="customerContactForm.controls.telephone.errors.pattern" class="text-danger">
                                {{ 'form.validation.number' | translate }}</p>
                            <p *ngIf="customerContactForm.controls.telephone.errors.telephone" class="text-danger">
                                {{ 'form.validation.telephone' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="mb-4" *ngIf="amount > 0">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.input.payment.title' | translate }}</h2>
        <p class="mb-4">{{ 'purchase.input.payment.read' | translate }}</p>

        <div class="p-3 bg-white">
            <div class="form-group row">
                <p class="col-md-4 py-2 text-md-right">{{ 'common.amount' | translate }}</p>
                <div class="col-md-8">
                    <p class="text-x-large text-info">{{ amount | currency : 'JPY'}}</p>
                </div>
            </div>
            <form *ngIf="usedCreditCard === undefined" [formGroup]="creditCardForm">
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardNumber' | translate }}</p>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber"
                            placeholder="" maxlength="16">
                        <div *ngIf="creditCardForm.controls.cardNumber.invalid && creditCardForm.controls.cardNumber.touched"
                            class="mt-2">
                            <p *ngIf="creditCardForm.controls.cardNumber.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}</p>
                            <p *ngIf="creditCardForm.controls.cardNumber.errors.pattern" class="text-danger">
                                {{ 'form.validation.number' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardExpiration' | translate }}</p>
                    <div class="col-md-8">
                        <div class="form-inline">
                            <select class="form-control d-inline-block w-auto" id="cardExpirationMonth"
                                formControlName="cardExpirationMonth">
                                <option *ngFor="let month of cardExpiration.month" [value]="month">{{ month }}</option>
                            </select>
                            <span class="mx-2">{{ 'common.date.month' | translate }}</span>
                            <select class="form-control d-inline-block w-auto" id="cardExpirationYear"
                                formControlName="cardExpirationYear">
                                <option *ngFor="let year of cardExpiration.year" [value]="year">{{ year }}</option>
                            </select>
                            <span class="mx-2">{{ 'common.date.year' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.securityCode' | translate }}</p>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="securityCode" placeholder=""
                            formControlName="securityCode">
                        <div *ngIf="creditCardForm.controls.securityCode.invalid && creditCardForm.controls.securityCode.touched"
                            class="mt-2">
                            <p *ngIf="creditCardForm.controls.securityCode.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}</p>
                        </div>
                        <p class="mt-2 text-small"><span class="pointer" (click)="openSecurityCode()"><i
                                    class="far fa-question-circle mr-1"></i>{{ 'purchase.input.securityCode' | translate }}</span>
                        </p>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.holderName' | translate }}</p>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="holderName" placeholder=""
                            formControlName="holderName">
                        <div *ngIf="creditCardForm.controls.holderName.invalid && creditCardForm.controls.holderName.touched"
                            class="mt-2">
                            <p *ngIf="creditCardForm.controls.holderName.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="usedCreditCard !== undefined" class="">
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardNumber' | translate }}</p>
                    <p class="col-md-8 py-2">{{ usedCreditCard.cardNo }}</p>
                </div>
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardExpiration' | translate }}</p>
                    <p class="col-md-8 py-2">
                        {{ usedCreditCard.expire | slice:2:4 }}
                        <span class="mx-2">{{ 'common.date.month' | translate }}</span>
                        {{ usedCreditCard.expire | slice:0:2 }}
                        <span class="mx-2">{{ 'common.date.year' | translate }}</span>
                    </p>
                </div>
            </div>
            <div *ngIf="(user | async).creditCards.length > 0" class="buttons mx-auto mt-3">
                <button type="button" class="btn btn-primary btn-block py-3" [disabled]="isLoading | async"
                    (click)="openRegisteredCreditCard()">{{ 'purchase.input.registeredCreditCard' | translate }}</button>
            </div>
            <div *ngIf="usedCreditCard !== undefined" class="buttons mx-auto mt-3">
                <button type="button" class="btn btn-link"
                    (click)="changeInputCreditCard()">{{ 'purchase.input.inputCreditCard' | translate }}</button>
            </div>
        </div>
    </div>


    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="onSubmit()">{{ 'purchase.input.next' | translate }}</button>

        <div *ngIf="(user | async).viewType === viewType.Cinema">
            <button *ngIf="(user | async).purchaseCartMaxLength > 1" type="button" class="btn btn-link"
                routerLink="/purchase/cinema/cart">{{ 'purchase.input.prev' | translate }}</button>
            <button *ngIf="(user | async).purchaseCartMaxLength === 1" type="button" class="btn btn-link"
                routerLink="/purchase/cinema/ticket">{{ 'purchase.input.prev' | translate }}</button>
        </div>
        <div *ngIf="(user | async).viewType === viewType.Event">
            <button type="button" class="btn btn-link"
                routerLink="/purchase/event/ticket">{{ 'purchase.input.prev' | translate }}</button>
        </div>

    </div>

</div>