<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'expired.title' | translate }}</h2>
        <p class="mb-4">{{ 'expired.read' | translate }}</p>
    </div>

    <div class="buttons mx-auto text-center">
        <a *ngIf="environment.PORTAL_SITE_URL" class="btn btn-link"
            [href]="environment.PORTAL_SITE_URL">{{ 'expired.prev' | translate }}</a>
        <button *ngIf="!environment.PORTAL_SITE_URL" type="button" class="btn btn-link"
            routerLink="/">{{ 'expired.prev' | translate }}</button>
    </div>
</div>