<div class="p-3 scroll-vertical">
    <div class="mb-3 text-large">{{ 'modal.securityCode.title' | translate }}</div>
    <p class="mb-3">{{ 'modal.securityCode.read' | translate }}</p>
    <div class="bg-light-gray p-3 mb-3">
        <p><strong>{{ 'modal.securityCode.back.title' | translate }}</strong></p>
        <p class="mb-3">{{ 'modal.securityCode.back.read' | translate }}</p>
        <div class="mb-3">
            <img src="/assets/images/credit_back.svg">
        </div>
        <p><strong>{{ 'modal.securityCode.front.title' | translate }}</strong></p>
        <p class="mb-3">{{ 'modal.securityCode.front.read' | translate }}</p>
        <div class="mb-3">
            <img src="/assets/images/credit_front.svg">
        </div>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-link" (click)="activeModal.dismiss()">{{ 'common.close' | translate }}</button>
    </div>
</div>