<div *ngIf="!((purchase | async)?.external?.sellerId)" class="contents-width mx-auto px-3 pt-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.cinema.seller.title' | translate }}</h2>
    <p class="mb-4">{{ 'purchase.cinema.seller.read' | translate }}</p>

    <div class="sellers">
        <button *ngFor="let seller of (master | async)?.sellers" type="button" class="btn btn-block py-3 m-0"
            (click)="selectSeller(seller)" [class.btn-primary]="(purchase | async).seller?.id === seller.id"
            [class.btn-outline-primary]="(purchase | async).seller?.id !== seller.id">{{ seller.name | changeLanguage }}</button>
    </div>
</div>

<div class="contents-width mx-auto px-3 pt-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.cinema.schedule.title' | translate }}</h2>
    <p class="mb-4">{{ 'purchase.cinema.schedule.read' | translate }}</p>

    <div *ngIf="(purchase | async)?.preScheduleDates.length > 0" class="buttons mx-auto mb-3">
        <button *ngIf="!isPreSchedule" type="button" class="btn btn-primary btn-block py-3"
            [disabled]="isLoading | async"
            (click)="changeScheduleType()">{{ 'purchase.cinema.schedule.preSalesSchedule' | translate }}</button>
        <button *ngIf="isPreSchedule" type="button" class="btn btn-outline-primary btn-block py-3"
            [disabled]="isLoading | async"
            (click)="changeScheduleType()">{{ 'purchase.cinema.schedule.salesSchedule' | translate }}</button>
    </div>
</div>
<div class="bg-light-gray">
    <div class="contents-width mx-auto px-5 py-4">
        <div class="position-relative schedule-slider">
            <div class="swiper-container date" #swiper [swiper]="swiperConfig" (resize)="resize()">
                <div class="swiper-wrapper">
                    <div *ngFor="let scheduleDate of scheduleDates" class="swiper-slide pointer">
                        <div class="text-center text-white py-4"
                            [class.bg-secondary]="scheduleDate !== (purchase | async).scheduleDate"
                            [class.bg-primary]="scheduleDate === (purchase | async).scheduleDate"
                            (click)="selectDate(scheduleDate)">
                            <div>
                                {{ moment(scheduleDate).format('MM') }}/<span class="text-large">{{
                                  moment(scheduleDate).format('DD') }}</span>({{ scheduleDate | formatDate: 'ddd' }})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<div class="contents-width mx-auto p-3">
    <p *ngIf="(purchase | async)?.scheduleDate" class="text-primary text-large mb-3">
        {{ (purchase | async).scheduleDate | formatDate: 'YYYY/MM/DD (ddd)' }}
    </p>
    <p *ngIf="screeningWorkEvents.length === 0" class="mb-3">{{ 'purchase.cinema.schedule.notfound' | translate }}</p>
    <app-purchase-cinema-performance *ngFor="let screeningWorkEvent of screeningWorkEvents"
        [screeningWorkEvent]="screeningWorkEvent" (select)="selectSchedule($event)" class="mb-3">
    </app-purchase-cinema-performance>
</div>

<div class="buttons mx-auto text-center">
    <a *ngIf="environment.PORTAL_SITE_URL" class="btn btn-link"
        [href]="environment.PORTAL_SITE_URL">{{ 'purchase.cinema.schedule.prev' | translate }}</a>
</div>